@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.directionHebrew {
  direction: rtl !important;
}
.no-scrollbar {
  overflow: auto; /* Enables scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

/* Hide scrollbar for Chrome, Safari, and other WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.rtl {
  direction: rtl !important;
}
